body{
  margin: 0;
  text-align: center;
    color: #40514E;
}

.upper{
  background-color: #fbe6c2;
}
h1{
  font-family: 'Sacramento', cursive;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 90px;
  color: #966c3b;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #966c3b;
}
h3{
  color: #966c3b;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
p{
  color: #40514E;
  line-height: 2;
  font-family: 'Merriweather', serif;
}
hr{
  width: 8%;
  border: dotted #966c3b 8px;
  border-bottom: none;
}

.prog{
  font-family: sans-serif;
  font-size: 40px;
  color: #966c3b;
  margin-top: 0;
  margin-bottom: 20px;
}
.skills{
  width: 50%;
  margin: 80px auto 50px auto;
}
.profile{
  width: 35%;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 80px;
}
.skill-row{
  text-align: left;
  margin: 80px auto 140px auto;
}
.getin{
  width: 40%;
  margin: auto;
}

.bottom{
  background-color: #fbe6c2;
  height: 100px;
  padding-top: 30px;
  margin-top: 50px;
}
a{
  text-decoration: none;
  font-family:  sans-serif;
  color: #966c3b;
  font-size: 1rem;
  margin: auto 20px;
}
a:hover{
  color: #ebb5eb;
}
.copyright{
  font-size: 0.75rem;
  color: #966c3b;
  margin-top: 40px;
}
.pro{
  margin-bottom: 40px;
}

/* ALl images styling */
.cloud1{
  width: 200px;
  position: absolute;
  top: 50px;
  right: 180px;
}
.cloud2{
  width: 200px;
  position: absolute;
  left: 200px;
  top: 200px;
}
.mountain{
  width: 400px;
}
.prof{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.coder-img{
  width: 200px;
  float: right;
  margin-left: 30px;
}
.design-img{
  width: 200px;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #fbe6c2;
  background-image: -webkit-linear-gradient(top, #fbe6c2, #fbe6c2);
  background-image: -moz-linear-gradient(top, #fbe6c2, #fbe6c2);
  background-image: -ms-linear-gradient(top, #fbe6c2, #fbe6c2);
  background-image: -o-linear-gradient(top, #fbe6c2, #fbe6c2);
  background-image: linear-gradient(to bottom, #fbe6c2, #fbe6c2);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #966c3b;
  background-image: -webkit-linear-gradient(top, #966c3b, #e6a153);
  background-image: -moz-linear-gradient(top, #966c3b, #e6a153);
  background-image: -ms-linear-gradient(top, #966c3b, #e6a153);
  background-image: -o-linear-gradient(top, #966c3b, #e6a153);
  background-image: linear-gradient(to bottom, #966c3b, #e6a153);
  text-decoration: none;
}
